In [1]:
pip install scikit-surprise

Collecting scikit-surprise
  Using cached scikit-surprise-1.1.1.tar.gz (11.8 MB)
Requirement already satisfied: joblib>=0.11 in c:\users\82107\anaconda3\lib\site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in c:\users\82107\anaconda3\lib\site-packages (from scikit-surprise) (1.21.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\82107\anaconda3\lib\site-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in c:\users\82107\anaconda3\lib\site-packages (from scikit-surprise) (1.16.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp39-cp39-win_amd64.whl size=732195 sha256=eea74b744195cd42f7e9f22498cc6cc59c286bc26fea248827a90ae08c1231fe
  Stored in directory: c:\users\82107\appdata\local\pip\cache\wheels\6b\10\c9\7f607c8cb522ef378844f41e63b30d7181a6495d2c1ae514e9
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import surprise

In [36]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

In [3]:
data = surprise.Dataset.load_builtin("ml-100k")

In [23]:
df = pd.DataFrame(data.raw_ratings, columns=['user', 'item', 'rate', 'id'])
del df['id']
df.head(10)

  user item  rate
0  196  242   3.0
1  186  302   3.0
2   22  377   1.0
3  244   51   2.0
4  166  346   1.0
5  298  474   4.0
6  115  265   2.0
7  253  465   5.0
8  305  451   3.0
9    6   86   3.0

In [26]:
df_table = df.set_index(["user", "item"]).unstack()
df_table.shape

(943, 1682)

In [27]:
df_table.iloc[212:222, 808:817].fillna("")

     rate
item  211  212  213  214  215  216  217  218  219
user
290   3.0                      4.0       2.0
291        4.0       4.0  4.0            4.0  4.0
292                  3.0
293   4.0       3.0       4.0  4.0  3.0  2.0
294
295             5.0       5.0  5.0  4.0  5.0
296   4.0
297   4.0       3.0       2.0  4.0       3.0
298   5.0       3.0       5.0
299   4.0  4.0  5.0            5.0

## 추천성능 평가기준

In [38]:
from surprise.model_selection import KFold

bsl_options = {
    'method': 'als',
    'n_epochs': 5,
    'reg_u': 12,
    'reg_i': 5
}
algo = surprise.BaselineOnly(bsl_options)

np.random.seed(0)
acc = np.zeros(3)
cv = KFold(3)
for i, (trainset, testset) in enumerate(cv.split(data)):
    algo.fit(trainset)
    predictions = algo.test(testset)
    acc[i] = surprise.accuracy.rmse(predictions, verbose=True)
acc.mean()

Estimating biases using als...
RMSE: 0.9453
Estimating biases using als...
RMSE: 0.9377
Estimating biases using als...
RMSE: 0.9500

0.9443304984013942

In [40]:
from surprise.model_selection import cross_validate

cross_validate(algo, data)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

{'test_rmse': array([0.9384446 , 0.94651657, 0.93612815, 0.94221861, 0.94428787]),
 'test_mae': array([0.74477853, 0.75124267, 0.73975393, 0.745764  , 0.74659098]),
 'fit_time': (0.13199806213378906,
  0.15549445152282715,
  0.17200493812561035,
  0.15064311027526855,
  0.17408037185668945),
 'test_time': (0.1461193561553955,
  0.26491546630859375,
  0.16605234146118164,
  0.14308452606201172,
  0.29407358169555664)}