In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame(['Male', 'Female'], columns=['x'])
df1

        x
0    Male
1  Female

In [4]:
from patsy import dmatrix

dmatrix('x + 0', df1)

DesignMatrix with shape (2, 2)
  x[Female]  x[Male]
          0        1
          1        0
  Terms:
    'x' (columns 0:2)

In [5]:
df2 = pd.DataFrame(['A', 'B', 'AB',' O'], columns=['x'])
df2

    x
0   A
1   B
2  AB
3   O

In [6]:
dmatrix('x + 0', df2)

DesignMatrix with shape (4, 4)
  x[ O]  x[A]  x[AB]  x[B]
      0     1      0     0
      0     0      0     1
      0     0      1     0
      1     0      0     0
  Terms:
    'x' (columns 0:4)

In [7]:
df3 = pd.DataFrame([1, 2, 3, 4], columns=['x'])
df3

   x
0  1
1  2
2  3
3  4

## 축소랭크방식

In [17]:
dmatrix('x', df1)

DesignMatrix with shape (2, 2)
  Intercept  x[T.Male]
          1          1
          1          0
  Terms:
    'Intercept' (column 0)
    'x' (column 1)

In [21]:
dmatrix("C(x, Treatment('Male'))", df1)

DesignMatrix with shape (2, 2)
  Intercept  C(x, Treatment('Male'))[T.Female]
          1                                  0
          1                                  1
  Terms:
    'Intercept' (column 0)
    "C(x, Treatment('Male'))" (column 1)

In [22]:
dmatrix("x", df2)

DesignMatrix with shape (4, 4)
  Intercept  x[T.A]  x[T.AB]  x[T.B]
          1       1        0       0
          1       0        0       1
          1       0        1       0
          1       0        0       0
  Terms:
    'Intercept' (column 0)
    'x' (columns 1:4)

In [23]:
df4 = pd.DataFrame([["A", "X"], ["B", "X"], ["A", "Y"], ["B", "Y"]], columns=["x1", "x2"])
df4

  x1 x2
0  A  X
1  B  X
2  A  Y
3  B  Y

In [24]:
dmatrix('x1 + x2', df4)

DesignMatrix with shape (4, 3)
  Intercept  x1[T.B]  x2[T.Y]
          1        0        0
          1        1        0
          1        0        1
          1        1        1
  Terms:
    'Intercept' (column 0)
    'x1' (column 1)
    'x2' (column 2)

In [25]:
dmatrix("x1:x2 + 0", df4)

DesignMatrix with shape (4, 4)
  x1[A]:x2[X]  x1[B]:x2[X]  x1[A]:x2[Y]  x1[B]:x2[Y]
            1            0            0            0
            0            1            0            0
            0            0            1            0
            0            0            0            1
  Terms:
    'x1:x2' (columns 0:4)