In [18]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample1.csv

In [19]:
import pandas as pd

In [4]:
pd.read_csv('sample.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [7]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33 three

Writing sample2.csv

In [8]:
pd.read_csv('sample2.csv', names=['c1','c2','c3'])

   c1           c2    c3
0   1         1.11   one
1   2         2.22   two
2   3   3.33 three   NaN

In [9]:
pd.read_csv('sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [10]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [14]:
pd.read_table('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [25]:
import pandas as pd

In [26]:
df.to_csv('sample2.csv')

NameError: name 'df' is not defined