In [139]:
import pandas as pd
import numpy as np

In [140]:
rs2 = pd.read_csv('/Users/82107/data/HW.csv')
rs2

,Unnamed: 0,Target_age_7_9,Target_age_10_14,Target_age_15_19,Target_age_20_24,Target_age_25_29,Target_age_30_34,Target_age_35_39,Target_age_40_44,Target_age_45_49,Target_age_50_54,Target_age_55_59,Target_age_60_64,Target_age_65_69,Target_age_70_74,Target_age_75_79,Target
0,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,13
1,1,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,13
2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27
3,3,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,15
4,4,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,5162,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27
5163,5163,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27
5164,5164,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27
5165,5165,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27
5166,5166,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,27

In [141]:
df_10 = rs2.loc[:, ['Target_age_7_9','Target_age_10_14','Target_age_15_19']]
df_20 = rs2.loc[:, ['Target_age_20_24','Target_age_25_29']]
df_30 = rs2.loc[:, ['Target_age_30_34','Target_age_35_39']]
df_40 = rs2.loc[:, ['Target_age_40_44','Target_age_45_49']]
df_50 = rs2.loc[:, ['Target_age_50_54','Target_age_55_59']]
df_60 = rs2.loc[:, ['Target_age_60_64','Target_age_65_69']]
df_70 = rs2.loc[:, ['Target_age_70_74','Target_age_75_79']]

df_10["df_10_count"] = df_10.sum(axis=1)
df_20["df_20_count"] = df_20.sum(axis=1)
df_30["df_30_count"] = df_30.sum(axis=1)
df_40["df_40_count"] = df_40.sum(axis=1)
df_50["df_50_count"] = df_50.sum(axis=1)
df_60["df_60_count"] = df_60.sum(axis=1)
df_70["df_70_count"] = df_70.sum(axis=1)


df_10.loc[df_10['df_10_count'] >= 1, 'df_10_count'] = 1
df_20.loc[df_20['df_20_count'] >= 1, 'df_20_count'] = 1
df_30.loc[df_30['df_30_count'] >= 1, 'df_30_count'] = 1
df_40.loc[df_40['df_40_count'] >= 1, 'df_40_count'] = 1
df_50.loc[df_50['df_50_count'] >= 1, 'df_50_count'] = 1
df_60.loc[df_60['df_60_count'] >= 1, 'df_60_count'] = 1
df_70.loc[df_70['df_70_count'] >= 1, 'df_70_count'] = 1

In [142]:
df1 = pd.DataFrame(columns=['df_10_count', 'df_20_count', 'df_30_count', 'df_40_count', 'df_50_count', 'df_60_count', 'df_70_count'])

df1.iloc[:,0] = df_10["df_10_count"]
df1.iloc[:,1] = df_20["df_20_count"]
df1.iloc[:,2] = df_30["df_30_count"]
df1.iloc[:,3] = df_40["df_40_count"]
df1.iloc[:,4] = df_50["df_50_count"]
df1.iloc[:,5] = df_60["df_60_count"]
df1.iloc[:,6] = df_70["df_70_count"]

In [73]:
df1

,df_10_count,df_20_count,df_30_count,df_40_count,df_50_count,df_60_count,df_70_count
0,1,1,1,0,0,0,0
1,1,1,1,0,0,0,0
2,0,0,0,0,0,0,0
3,0,0,1,1,1,0,0
4,0,1,1,1,0,0,0
...,...,...,...,...,...,...,...
5162,0,0,0,0,0,0,0
5163,0,0,0,0,0,0,0
5164,0,0,0,0,0,0,0
5165,0,0,0,0,0,0,0
5166,0,0,0,0,0,0,0

In [157]:
target_list = []


for i in df1.index:
    list_a = []
    for j in range(7):
        list_a.append(df1.iloc[i,j])
    if(list_a == [1,0,0,0,0,0,0]):
        target_list.append(0)
    elif(list_a == [0,1,0,0,0,0,0]):
        target_list.append(1)
    elif(list_a == [0,0,1,0,0,0,0]):
        target_list.append(2)
    elif(list_a == [0,0,0,1,0,0,0]):
        target_list.append(3)
    elif(list_a == [0,0,0,0,1,0,0]):
        target_list.append(4)
    elif(list_a == [0,0,0,0,0,1,0]):
        target_list.append(5)
    elif(list_a == [0,0,0,0,0,0,1]):
        target_list.append(6)
        
    elif(list_a == [1,1,0,0,0,0,0]):
        target_list.append(7)
    elif(list_a == [0,1,1,0,0,0,0]):
        target_list.append(8)
    elif(list_a == [0,0,1,1,0,0,0]):
        target_list.append(9)
    elif(list_a == [0,0,0,1,1,0,0]):
        target_list.append(10)
    elif(list_a == [0,0,0,0,1,1,0]):
        target_list.append(11)
    elif(list_a == [0,0,0,0,0,1,1]):
        target_list.append(12)
                     
    elif(list_a == [1,1,1,0,0,0,0]):
        target_list.append(13)
    elif(list_a == [0,1,1,1,0,0,0]):
        target_list.append(14)
    elif(list_a == [0,0,1,1,1,0,0]):
        target_list.append(15)
    elif(list_a == [0,0,0,1,1,1,0]):
        target_list.append(16)
    elif(list_a == [0,0,0,0,1,1,1]):
        target_list.append(17)
   
    elif(list_a == [1,1,1,1,0,0,0]):
        target_list.append(18)
    elif(list_a == [0,1,1,1,1,0,0]):
        target_list.append(19)
    elif(list_a == [0,0,1,1,1,1,0]):
        target_list.append(20)
    elif(list_a == [0,0,0,1,1,1,1]):
        target_list.append(21)

    elif(list_a == [1,1,1,1,1,0,0]):
        target_list.append(22)
    elif(list_a == [0,1,1,1,1,1,0]):
        target_list.append(23)
    elif(list_a == [0,0,1,1,1,1,1]):
        target_list.append(24)
        
    elif(list_a == [1,1,1,1,1,1,0]):
        target_list.append(25)
    elif(list_a == [0,1,1,1,1,1,1]):
        target_list.append(26)
        
    else:
        target_list.append(27)
           
print(target_list)

[13, 13, 27, 15, 14, 14, 14, 21, 27, 27, 14, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 27, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 1, 27, 27, 27, 27, 27, 27, 27, 20, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 15, 15, 14, 9, 9, 27, 27, 27, 27, 27, 14, 14, 14, 14, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 13, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 9, 27, 27, 27, 27, 15, 15, 15, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 16, 16, 16, 14, 26, 27, 27, 27, 27, 27, 9, 14, 14, 14, 14, 14, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 21, 21, 27, 21, 14, 27, 27, 8, 27, 27, 8, 27, 27, 20, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 8, 8, 8, 27, 27, 8, 14, 27, 27, 2, 8, 27, 27, 27, 27, 27, 15, 15, 15, 27, 27, 14, 2, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 0, 0, 27, 8, 8, 8, 8, 27, 27, 9, 27, 27, 10, 10, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 27, 27, 27, 27, 8, 8, 27, 27, 21, 21, 27, 27, 21, 21, 27, 21, 27, 27, 27, 27, 19, 19, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 15, 27, 27, 27, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 14, 14, 14, 15, 15, 15, 27, 27, 27, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 8, 8, 8, 8, 8, 8, 8, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 8, 27, 27, 14, 14, 14, 14, 14, 15, 15, 15, 27, 27, 19, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 27, 9, 27, 27, 25, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 24, 24, 19, 19, 19, 19, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 20, 27, 14, 27, 9, 9, 27, 27, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 15, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 15, 15, 15, 15, 15, 15, 27, 27, 27, 19, 19, 15, 27, 27, 27, 27, 2, 2, 2, 27, 15, 15, 27, 27, 27, 27, 27, 21, 27, 27, 27, 27, 8, 8, 27, 15, 15, 9, 27, 27, 8, 8, 27, 27, 27, 8, 8, 8, 8, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 1, 1, 1, 1, 1, 1, 1, 1, 27, 27, 27, 27, 27, 27, 27, 8, 25, 27, 1, 27, 27, 27, 9, 15, 15, 15, 19, 19, 19, 19, 19, 19, 19, 19, 15, 27, 19, 19, 19, 27, 26, 26, 14, 14, 27, 26, 7, 27, 27, 27, 8, 8, 8, 8, 8, 8, 8, 8, 27, 19, 27, 27, 15, 15, 27, 27, 27, 25, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 8, 27, 27, 10, 10, 27, 27, 27, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 26, 26, 26, 27, 21, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 14, 27, 7, 8, 8, 8, 8, 26, 26, 10, 10, 27, 27, 21, 21, 21, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 9, 9, 27, 9, 15, 15, 15, 15, 15, 15, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 21, 21, 27, 27, 27, 27, 26, 27, 27, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 27, 26, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 27, 27, 27, 27, 26, 26, 27, 27, 27, 26, 27, 27, 27, 27, 27, 2, 2, 2, 2, 2, 2, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 9, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 19, 27, 27, 27, 27, 27, 27, 27, 9, 15, 15, 15, 15, 15, 9, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 14, 14, 9, 9, 9, 9, 27, 27, 1, 1, 1, 1, 1, 1, 1, 1, 1, 27, 27, 27, 9, 27, 15, 15, 15, 2, 27, 15, 15, 15, 15, 15, 15, 21, 21, 21, 21, 27, 27, 27, 27, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 8, 8, 8, 8, 8, 8, 8, 27, 26, 26, 27, 27, 9, 9, 27, 14, 14, 14, 14, 14, 14, 27, 10, 10, 10, 10, 27, 27, 27, 27, 27, 27, 27, 8, 8, 8, 8, 8, 8, 8, 8, 26, 2, 26, 26, 8, 8, 27, 27, 26, 8, 27, 27, 27, 9, 27, 27, 27, 9, 15, 1, 1, 1, 1, 1, 1, 1, 27, 27, 27, 26, 26, 14, 14, 21, 21, 21, 21, 21, 21, 21, 21, 27, 27, 27, 27, 27, 27, 27, 27, 10, 10, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 26, 26, 26, 19, 19, 19, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 8, 8, 8, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 27, 27, 27, 27, 14, 14, 14, 14, 14, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 8, 8, 2, 14, 26, 27, 27, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 27, 27, 27, 20, 10, 10, 27, 27, 15, 15, 27, 27, 27, 27, 27, 9, 9, 8, 27, 27, 27, 27, 27, 14, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 27, 1, 1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 10, 10, 10, 10, 10, 10, 10, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 20, 20, 20, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2, 2, 2, 2, 2, 2, 27, 15, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 10, 21, 21, 21, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 27, 27, 27, 14, 14, 14, 14, 26, 26, 27, 26, 26, 27, 27, 2, 10, 10, 27, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 15, 15, 15, 10, 14, 14, 14, 14, 26, 26, 26, 26, 26, 27, 27, 27, 27, 8, 8, 8, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 15, 15, 15, 15, 15, 15, 27, 27, 27, 27, 1, 1, 9, 9, 9, 9, 2, 2, 2, 2, 2, 2, 27, 27, 9, 27, 8, 8, 8, 8, 8, 8, 8, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 10, 21, 21, 21, 21, 21, 21, 21, 27, 27, 15, 15, 15, 27, 27, 27, 27, 27, 27, 27, 21, 21, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 27, 27, 27, 8, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 15, 27, 10, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 27, 27, 15, 15, 15, 15, 15, 15, 15, 26, 15, 15, 15, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 27, 27, 15, 15, 1, 1, 1, 1, 1, 1, 1, 1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 20, 20, 20, 9, 9, 9, 9, 9, 27, 27, 10, 27, 27, 27, 21, 21, 21, 21, 21, 21, 14, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 15, 15, 15, 15, 15, 19, 19, 27, 27, 27, 27, 27, 27, 27, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 23, 27, 27, 27, 27, 26, 26, 26, 26, 26, 26, 27, 14, 14, 14, 14, 14, 27, 27, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 21, 21, 21, 21, 21, 27, 27, 27, 15, 15, 15, 15, 27, 27, 27, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 9, 9, 27, 27, 27, 0, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 21, 21, 15, 15, 15, 15, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 27, 27, 27, 9, 9, 9, 27, 27, 27, 27, 27, 14, 14, 27, 27, 1, 1, 1, 1, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 9, 27, 27, 27, 10, 10, 10, 10, 10, 27, 27, 27, 27, 10, 10, 10, 10, 27, 27, 27, 27, 9, 9, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 27, 27, 27, 27, 27, 14, 14, 14, 14, 14, 1, 27, 10, 9, 9, 9, 9, 27, 27, 9, 9, 9, 9, 27, 27, 27, 9, 27, 27, 27, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 27, 27, 2, 2, 27, 27, 27, 27, 26, 27, 26, 27, 27, 27, 27, 21, 21, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 21, 21, 21, 21, 21, 15, 14, 1, 1, 1, 1, 8, 8, 27, 27, 8, 8, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 2, 2, 2, 27, 27, 9, 9, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 9, 27, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 10, 10, 1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 21, 15, 15, 15, 15, 15, 15, 15, 27, 27, 27, 27, 15, 15, 15, 15, 15, 21, 21, 21, 21, 10, 10, 10, 10, 10, 10, 10, 21, 21, 21, 14, 14, 14, 14, 14, 9, 9, 9, 27, 10, 10, 27, 15, 27, 27, 27, 14, 14, 14, 14, 14, 14, 9, 27, 27, 27, 27, 9, 9, 9, 27, 27, 27, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 24, 24, 26, 27, 27, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 15, 15, 15, 27, 27, 27, 1, 8, 27, 27, 27, 27, 27, 20, 20, 9, 9, 9, 15, 9, 9, 9, 1, 1, 27, 27, 27, 8, 27, 27, 27, 2, 14, 14, 14, 14, 14, 14, 14, 10, 10, 14, 14, 14, 14, 14, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 26, 21, 21, 21, 1, 27, 27, 9, 9, 21, 21, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 10, 10, 10, 10, 9, 10, 21, 27, 19, 27, 27, 27, 27, 27, 9, 9, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 9, 27, 14, 14, 14, 27, 27, 27, 27, 27, 27, 27, 19, 19, 19, 19, 19, 19, 9, 9, 9, 9, 9, 27, 27, 27, 10, 27, 27, 27, 27, 10, 10, 27, 14, 14, 14, 14, 9, 9, 9, 27, 27, 1, 1, 27, 27, 8, 8, 8, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 21, 15, 15, 15, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 8, 1, 1, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 14, 15, 15, 15, 9, 9, 9, 27, 27, 27, 27, 27, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2, 27, 27, 27, 27, 27, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 27, 13, 13, 13, 13, 13, 18, 18, 24, 24, 24, 24, 24, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 15, 27, 10, 10, 27, 27, 10, 10, 10, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 15, 15, 15, 15, 1, 1, 1, 9, 27, 27, 27, 27, 27, 8, 8, 8, 8, 27, 27, 27, 27, 14, 14, 14, 14, 27, 14, 27, 27, 27, 27, 2, 2, 2, 2, 2, 2, 2, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 9, 9, 9, 7, 7, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 1, 1, 14, 14, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 15, 15, 27, 27, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 14, 14, 14, 9, 9, 9, 27, 27, 14, 27, 27, 27, 27, 8, 8, 8, 8, 27, 27, 21, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 14, 2, 2, 27, 27, 27, 27, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 23, 23, 23, 23, 23, 23, 23, 23, 23, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 10, 10, 10, 10, 10, 27, 27, 27, 27, 8, 14, 27, 27, 27, 27, 27, 10, 10, 10, 10, 10, 10, 27, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 10, 27, 27, 27, 21, 21, 21, 21, 21, 21, 21, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 27, 27, 27, 27, 27, 9, 9, 9, 9, 27, 27, 27, 27, 27, 18, 20, 20, 21, 21, 21, 9, 9, 9, 27, 27, 15, 15, 15, 15, 21, 21, 21, 21, 21, 21, 21, 27, 27, 27, 27, 27, 23, 23, 23, 23, 9, 9, 27, 27, 1, 27, 14, 1, 1, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 27, 27, 27, 27, 8, 8, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 8, 8, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 20, 20, 27, 27, 27, 23, 23, 23, 23, 23, 21, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 20, 20, 27, 27, 27, 27, 14, 9, 27, 2, 2, 8, 27, 27, 27, 27, 27, 27, 8, 8, 8, 8, 8, 8, 27, 27, 27, 27, 8, 14, 14, 14, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 27, 27, 27, 27, 27, 27, 27, 15, 15, 10, 10, 10, 10, 10, 10, 14, 27, 27, 27, 27, 27, 27, 27, 21, 21, 10, 27, 27, 27, 27, 9, 9, 9, 9, 27, 27, 27, 21, 24, 27, 27, 8, 27, 27, 27, 18, 27, 27, 14, 14, 26, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 27, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 27, 9, 27, 27, 8, 8, 8, 19, 19, 19, 19, 1, 27, 27, 27, 27, 27, 14, 14, 10, 10, 10, 10, 10, 14, 27, 27, 27, 27, 27, 27, 27, 8, 8, 8, 8, 8, 8, 8, 19, 19, 19, 19, 27, 27, 27, 27, 27, 27, 26, 26, 26, 27, 27, 26, 26, 27, 27, 27, 27, 1, 1, 1, 1, 1, 1, 27, 9, 9, 14, 14, 14, 15, 15, 15, 9, 27, 27, 15, 15, 2, 27, 27, 27, 9, 9, 27, 9, 9, 0, 0, 0, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 7, 16, 9, 9, 9, 9, 9, 9, 9, 9, 9, 19, 19, 21, 27, 14, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 10, 10, 27, 10, 10, 27, 10, 10, 24, 27, 27, 14, 14, 14, 27, 2, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 10, 27, 27, 0, 0, 0, 27, 27, 27, 27, 27, 9, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 0, 0, 0, 15, 27, 27, 27, 27, 25, 21, 27, 9, 9, 8, 8, 8, 8, 8, 8, 27, 19, 19, 14, 14, 21, 21, 21, 21, 21, 21, 14, 15, 8, 8, 8, 19, 19, 19, 19, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 8, 8, 27, 27, 27, 27, 27, 27, 27, 23, 23, 23, 27, 27, 27, 27, 27, 14, 1, 1, 1, 1, 1, 1, 27, 21, 21, 21, 21, 21, 21, 21, 21, 27, 27, 27, 14, 27, 27, 27, 9, 9, 19, 19, 9, 10, 10, 10, 10, 10, 10, 10, 21, 27, 27, 27, 24, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 27, 15, 15, 15, 15, 15, 15, 15, 15, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 27, 27, 14, 27, 14, 27, 27, 27, 27, 27, 27, 27, 14, 14, 27, 9, 9, 9, 14, 27, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 27, 27, 27, 27, 19, 8, 8, 27, 27, 27, 27, 27, 15, 15, 0, 0, 0, 0, 0, 0, 27, 27, 27, 27, 27, 21, 21, 21, 27, 8, 8, 8, 8, 14, 14, 14, 8, 8, 8, 21, 21, 21, 21, 21, 21, 1, 23, 23, 19, 14, 8, 8, 8, 19, 19, 19, 19, 27, 27, 27, 14, 14, 14, 14, 14, 14, 9, 9, 27, 27, 27, 27, 21, 8, 8, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 9, 21, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 10, 10, 9, 9, 9, 9, 9, 10, 10, 27, 10, 10, 27, 9, 27, 27, 27, 9, 9, 23, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 27, 27, 8, 8, 8, 2, 2, 2, 2, 2, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 24, 9, 9, 9, 9, 9, 9, 27, 27, 27, 27, 9, 9, 9, 27, 27, 9, 9, 9, 9, 9, 27, 27, 9, 10, 27, 27, 27, 27, 27, 27, 27, 27, 1, 27, 14, 27, 27, 14, 14, 14, 14, 27, 1, 1, 1, 1, 1, 1, 1, 1, 27, 21, 21, 21, 21, 8, 27, 27, 9, 1, 1, 15, 19, 19, 27, 2, 2, 2, 9, 27, 27, 27, 27, 27, 9, 9, 8, 27, 27, 14, 14, 14, 17, 17, 17, 27, 27, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 19, 19, 19, 19, 19, 23, 14, 14, 9, 9, 9, 9, 9, 9, 9, 9, 9, 14, 27, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 14, 14, 14, 14, 14, 14, 14, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 27, 27, 27, 27, 9, 9, 9, 9, 15, 8, 8, 14, 27, 15, 27, 27, 27, 27, 8, 8, 8, 8, 8, 19, 19, 19, 19, 19, 15, 27, 27, 27, 27, 27, 27, 27, 27, 21, 15, 14, 19, 19, 19, 27, 27, 14, 14, 27, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 27, 27, 27, 27, 27, 9, 8, 9, 9, 8, 23, 27, 14, 15, 15, 8, 27, 8, 27, 13, 13, 13, 8, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 27, 27, 27, 27, 27, 27, 27, 24, 10, 27, 27, 22, 2, 14, 19, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 27, 27, 21, 21, 21, 15, 21, 21, 21, 21, 21, 14, 14, 27, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 9, 9, 9, 9, 9, 9, 9, 9, 9, 2, 27, 27, 27, 27, 27, 27, 27, 27, 14, 2, 2, 8, 8, 8, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 14, 14, 9, 9, 9, 9, 9, 27, 19, 27, 27, 21, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 15, 9, 9, 9, 9, 27, 14, 14, 14, 8, 8, 8, 26, 26, 27, 27, 27, 27, 24, 14, 9, 15, 9, 9, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 13, 13, 9, 9, 9, 10, 10, 10, 10, 9, 27, 27, 27, 10, 10, 10, 10, 10, 10, 10, 27, 27, 9, 9, 8, 21, 14, 9, 14, 13, 27, 14, 14, 13, 15, 13, 27, 27, 27, 27, 27, 27, 27, 15, 15, 10, 9, 14, 14, 14, 8, 14, 14, 14, 14, 14, 18, 18, 27, 27, 8, 8, 27, 14, 27, 2, 2, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 27, 27, 27, 14, 27, 27, 19, 26, 26, 27, 27, 27, 19, 19, 14, 14, 14, 27, 9, 14, 14, 14, 1, 27, 14, 27, 27, 25, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 20, 20, 27, 21, 21, 21, 9, 9, 9, 9, 9, 27, 27, 27, 21, 21, 21, 21, 21, 21, 21, 21, 23, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 27, 27, 27, 27, 24, 27, 27, 27, 27, 14, 27, 27, 27, 26, 27, 27, 27, 27, 14, 14, 8, 8, 20, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 14, 14, 14, 14, 14, 19, 19, 27, 27, 27, 2, 2, 2, 2, 2, 2, 2, 2, 2, 27, 27, 27, 27, 27, 26, 24, 8, 13, 9, 9, 9, 9, 9, 9, 9, 9, 27, 27, 14, 2, 2, 2, 2, 2, 2, 2, 2, 27, 27, 18, 18, 27, 27, 27, 27, 27, 27, 27, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 26, 26, 26, 26, 10, 10, 21, 10, 10, 10, 27, 27, 27, 27, 27, 27, 9, 27, 27, 27, 27, 27, 14, 14, 14, 14, 27, 27, 27, 27, 13, 27, 27, 9, 9, 27, 14, 14, 27, 27, 27, 27, 27, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 27, 27, 27, 27, 27, 27, 15, 15, 2, 2, 27, 27, 27, 9, 27, 25, 25, 25, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 14, 15, 15, 1, 1, 1, 1, 27, 27, 27, 27, 27, 27, 27, 27, 15, 27, 27, 27, 15, 10, 10, 27, 27, 27, 27, 27, 27, 27, 27, 15, 25, 25, 25, 27, 14, 14, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 15, 15, 15, 15, 27, 27, 18, 14, 14, 14, 14, 27, 27, 14, 14, 2, 27, 27, 14, 14, 14, 14, 14, 14, 14, 27, 27, 27, 27, 27, 27, 15, 15, 21, 8, 27, 19, 19, 27, 27, 15, 27, 27, 27, 27, 27, 27, 9, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 9, 9, 9, 9, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 1, 27, 26, 27, 27, 27, 9, 9, 9, 9, 27, 8, 27, 9, 9, 8, 8, 27, 27, 27, 27, 27, 25, 25, 25, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 14, 9, 27, 27, 27, 27, 15, 27, 27, 21, 21, 27, 27, 8, 8, 8, 18, 1, 27, 27, 9, 25, 25, 25, 25, 25, 27, 27, 27, 27, 27, 9, 9, 9, 9, 9, 9, 27, 27, 9, 10, 10, 10, 10, 8, 8, 8, 2, 27, 27, 8, 8, 8, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27]

In [158]:
target=pd.DataFrame(target_list)
target.head()

    0
0  13
1  13
2  27
3  15
4  14

type(df3)

In [153]:
result=pd.concat([df1,target], axis=1)
result

,df_10_count,df_20_count,df_30_count,df_40_count,df_50_count,df_60_count,df_70_count,0
0,1,1,1,0,0,0,0,13
1,1,1,1,0,0,0,0,13
2,0,0,0,0,0,0,0,27
3,0,0,1,1,1,0,0,15
4,0,1,1,1,0,0,0,14
...,...,...,...,...,...,...,...,...
5162,0,0,0,0,0,0,0,27
5163,0,0,0,0,0,0,0,27
5164,0,0,0,0,0,0,0,27
5165,0,0,0,0,0,0,0,27
5166,0,0,0,0,0,0,0,27

In [156]:
result.rename(columns = {0:'target'}, inplace=True)
result

,df_10_count,df_20_count,df_30_count,df_40_count,df_50_count,df_60_count,df_70_count,target
0,1,1,1,0,0,0,0,13
1,1,1,1,0,0,0,0,13
2,0,0,0,0,0,0,0,27
3,0,0,1,1,1,0,0,15
4,0,1,1,1,0,0,0,14
...,...,...,...,...,...,...,...,...
5162,0,0,0,0,0,0,0,27
5163,0,0,0,0,0,0,0,27
5164,0,0,0,0,0,0,0,27
5165,0,0,0,0,0,0,0,27
5166,0,0,0,0,0,0,0,27