### 리스트 컴프리헨션
- '리스트를 쉽게 짧게 한 줄로 만들 수 있는 파이썬의 문법

In [125]:
size = 10
arr = [0] * size
for i in range(size):
    arr[i] = i * 2

In [122]:
arr

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### [( 변수를 활용한 값) for (사용할 변수 이름) in (순회할 수 있는 값)]

In [6]:
arr_1 =[i*2 for i in range(size) ]

In [7]:
arr_1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

- arr원소를 각각 제곱하여 새로운 리스트 만들기

In [126]:
arr_2 = [n*n for n in arr]

In [127]:
arr_2

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

- 문자열

In [14]:
word = '가나다'

In [15]:
word

'가나다'

In [16]:
type(word)

str

In [18]:
word[0]

'가'

In [21]:
a = [i*2 for i in word]

In [22]:
a

['가가', '나나', '다다']

### 조건문 사용하기

In [25]:
size=10
new_arr = [i for i in range(size) if i % 2 == 0]

In [26]:
new_arr

[0, 2, 4, 6, 8]

#### and
- 'and' 를 쓰면  SyntaxError 발생
- 'and' 없이 조건문을 나열해야한다.

In [27]:
new_and = [i for i in range(1, 31) if i % 2 == 0 if i % 3 == 0]
new_and

[6, 12, 18, 24, 30]

In [32]:
new_arr = [i for i in range(1,31) if i % 2 == 0 if i % 3 == 0 if i % 5 == 0]
new_arr

[30]

In [33]:
new_and = [i for i in range(1, 31) if i % 2 == 0 and if i % 3 == 0]
new_and

SyntaxError: invalid syntax (Temp/ipykernel_12040/2712286102.py, line 1)

#### or 
- if문을 여러개 쓰지 말고, if문 하나에서 'or'연산자 사용

In [34]:
new_and = [i for i in range(1, 31) if i % 2 == 0 or i % 3 == 0]
new_and

[2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30]

### 다차원 리스트 차원 축소하기

In [106]:
# 4x3의 행렬
a = [[1, 2, 3], 
       [4, 5, 6],
       [7, 8, 9],
       [10, 11, 12],
      ]

In [83]:
print(len(a))
print(len(a[0]))

4
3

In [130]:
flat_one = [n for row in a for n in row]
print(flat_one)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [131]:
flat_one2 = []

for row in a:
    for n in row:
        flat_one2.append(n)

print(flat_one2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

### 구조 유지하며 각 셀의 값 제곱하기

In [135]:
square_list = [[n**2 for n in row] for row in a]
# square_list = [A for row in a]

square_list

[[1, 4, 9], [16, 25, 36], [49, 64, 81], [100, 121, 144]]